<div style="text-align: center;color: darkturquoise;font-size: xx-large;">{{title}}</div>
<hr style="width: 300px;color: #ff003b;height: 2px;margin: auto;">
<table style="margin: auto;width: 1200px;">
  <tr>
    <td>
      <ul>
        <li>
          <a routerLinkActive="active" routerLink="home">Home</a>
        </li>
        <!-- <li>
          <a routerLinkActive="active" routerLink="invoice-list">Invoice</a>
        </li> -->
        <li>
          <a routerLinkActive="active" routerLink="todo">Todo's</a>
        </li>
      </ul>
    </td>
  </tr>
</table>
<router-outlet></router-outlet>