<div class="card componentStyle">
    <table style="width: 1000px;text-align: center;margin: auto;">
        <tr>
            <td style="width: 48%;">
                <img [src]="imgUrl">

            </td>
            <td style="width: 4%;">
                <div style="border-left: 3px solid green;height: 100px"></div>
            </td>
            <td style="width: 48%;">
                <h5>
                    Spry is a revolutionary, cloud-based operating system that enables the movement health professional
                    (physiatrist, physical therapist, athletic trainer, recovery specialist) to seamlessly capture and
                    assess patient care data in real time. Cutting edge technologies such as machine learning and AI
                    help Spry to provide patient specific protocols based on evidence-based practice and standards of
                    care
                    India is facing a MSK crisis with more than 25% of the population experiencing chronic pain and an
                    explosion in knee surgeries (15 times the western world).
                    We use Computer Vision and Deep Learning to automate assessments, adherence to programs and measure
                    recovery.

                </h5>
            </td>
        </tr>
    </table>
</div>